// sidebar
$menuText:#303133;
$menuActiveText:#409EFF;
$subMenuActiveText:#409EFF;

$menuBg:#fff;
$menuHover:#F2F6FC;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 180px;
$menuItemHeight: 52px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  menuItemHeight: $menuItemHeight;
}
